.hero-container {
  display: flex;
  flex-direction: column;
}

.image-container > img {
  width: 95%;
  margin-top: 10px;
}

.image-container {
  width: 100%;
  align-self: center;
}

.hero--header {
  margin-left: 10px;
}

.hero--text {
  margin-top: 0;
  margin-left: 10px;
}
